extends layout

block content
  h1= title
  p 
    a(href='/users/novo') Novo Usuário 
  table
    thead
      tr
        td Nome 
        td Email 
        td Booleano 
        td Número
        td 
    tbody
      each usu in usuarios
        tr 
          td= usu.name
          td= usu.email
          td= usu.boolean
          td= usu.numberrange
          td
            a(href='/users/detalhe/' + usu.id) editar
            | &nbsp;&nbsp;
            a(href='/users/apagar/' + usu.id) apagar
  p
    if page > 0 
      a(href='/users/' + (page-1)) <<
    - var n = 0; 
    while n < num_pages
      if n == page
        span #{n+1}, 
      else
        a(href='/users/'+n) #{n+1},
      - n++;
    if page < num_pages-1 
      a(href='/users/' + (page+1)) >>